@charset "UTF-8";
.frame {
	position: static;
	background-color: #90C9F7;
	margin: 0px;

	display: flex;
	
}
.container {
	float: left;
	position: static;
	width: 100%;
	margin-left: 5%;
	margin-right: 5%;
	height: 100%;
	border-bottom-width: 0px;
	padding: 0px;
	display: block;
}

.header {
	display: block;
	width: 100%;
	margin: 0;
}

.header .header_title {
	background-color: #6190bd;
	display: flex;
	width: 100%;
	border-bottom: solid;
	border-bottom-width: thin;
	border-bottom-color: #6c4c2d;
		
}
.header .header_nav {
	display: flex;
	background-color: #b3b3b3;
	width: 100%;
	height: 30px;
	padding: 0;
	border-bottom: solid;
	border-bottom-width: thin;
	border-bottom-color: #6c4c2d;
	position: relative;
	
}

.header ul {
	position: inherit;
	list-style-type: none;
	padding: 0;
	margin: 0px;
}

.header li {
	float: right;
	display: block;
	padding: 0;
}

.header h1 {
	color: #ffffff;
	padding-left: 30px;
	font-size: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin:0px;
}
.header p {
	margin: 0px;
	padding: 0;
	font-size: 15px;
}

.nav_button {
	background-color: #b3b3b3;
	min-width: 70px;
	font-size: 20px;
	padding-left:16px;
	padding-right:16px;
	padding-top:8px;
	padding-bottom: 8px;
	color: #ffffff;
	height: 14px;
	text-align: center;

}

.nav_button_content{
	display: none;
	position: absolute;
	font-size: 20px;
	left: 0px;
	top: 30px;
	background-color: #b3b3b3;
	width: 340px;
}

.nav_button_content ul {
	width: 306px;
}

.nav_button_content li {
	float: center;
	width: 100%;
	display: block;
}
.nav_button:hover {
	background-color: #575757;
}
.nav_button:hover .nav_button_content{
	display: block;
	z-index: 99;
}

.site_body{
	width: 100%;
	position: static;
	float: left;
	min-height: 1000px; 
	padding: 0px;
	background-color: #FFFFFF;
}
.thirty_partition{
	
	display:block;
	position: relative;
	margin:0;
	margin-top: 20px;
	width: 30%;
}
.sixty_partition{
	display:block;
	position: relative;
	margin:0;
	margin-top: 20px;
	width: 30%;
}
.full_partition{
	display:block;
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}
body {
	margin: 0;
}

@media (max-width: 400px) {

.nav_button {
	background-color: #b3b3b3;
	min-width: 30px;
	font-size: 15px;
	padding-left:16px;
	padding-right:16px;
	padding-top:8px;
	padding-bottom: 8px;
	color: white;
	text-align: center;
	margin:0;
}
}

	