.sidenav {
	height: 100%;
	width: 160px;
	padding: 0px 0px 0px 0px;
	position: fixed;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 20px;
	background-color: #00334E;
}

.main {
	margin-left: 160px;
	margin-top: 0px;
	margin-right: 0px;
	width: 100%;
	top: 0;
	left: 0;
	overflow-wrap: break-word;
	position: fixed;
	height: 100%;
	padding: 0px 10px;
	background-color: #F6F5F5;
}trainted only by probability of ID collision, an issue that 

.multiline {
	white-space: break-spaces;
}